<div class="row">
  <div class="col-md-10 offset-md-1">
<mat-card *ngFor="let booking of bookings" class="mt-3">

    <div class="row">
      <div class="col-md-10 offset-md-1">
     <mat-card class="mt-3">
      <div class="row">
      <div class="col-md-5 offset-md-1">
        <p> Booking Id  : {{booking.bookingId}} </p>
        <p> Booked From : {{booking.bookedFrom}}</p>
        <p> Adults      : {{booking.noOfAdults }}</p>
      </div>
    
      <div class="col-md-5 offset-md-1">
        <p> Amount      : {{booking.amount | currency:"INR"}}</p>
        <p> Booked To   : {{booking.bookedTo}}</p>
        <p> Children    : {{booking.noOfChildren}}</p>
      </div>
    </div>

    <mat-accordion>
        <mat-expansion-panel hideToggle class="mt-3">
          <mat-expansion-panel-header >
            <mat-panel-title>
              <button mat-list-item (click)="getUserByBooking(this.booking.bookingId)">
                 <mat-icon mat-list-icon>person</mat-icon> 
                 User
              </button>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card class="mt-3 bg-light">
            <p> UserName : {{user.userName}}</p>
            <p> Email    : {{user.email  | lowercase}}</p>
            <p> Mobile   : {{user.mobile}}</p>
            <p> Address   : {{user.address}}</p>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel hideToggle class="mt-3">
          <mat-expansion-panel-header >
            <mat-panel-title>
              <button mat-list-item (click)="getHotelByBooking(this.booking.bookingId)">
                 <mat-icon mat-list-icon>room_service</mat-icon> 
                 Hotel
              </button>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card class="mt-3 bg-light">
            <p> Hotel : {{hotel.hotelName | titlecase}}</p>
            <p> Address   : {{hotel.address}}</p>
            <p> City   : {{hotel.city}}</p>
            <p> Email    : {{user.email  | lowercase}}</p>
            <p> Website   : {{hotel.website}}</p>
            <p> Mobile   : {{hotel.phone1}}</p>
           
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
  
    <mat-accordion>
      <mat-expansion-panel hideToggle class="mt-3">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button mat-list-item (click)="getRoomsByBooking(this.booking.bookingId)">
               <mat-icon mat-list-icon>bed</mat-icon> 
               View Rooms
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card *ngFor="let room of rooms" class="mt-3 bg-light">
          <p> Room No     : {{this.room.roomNo}}</p>
          <p> Room Type   : {{this.room.roomType | titlecase }}</p>
          <p> Rate        : {{this.room.ratePerDay | currency:"INR"}}</p>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
  </div>
</div>