<mat-card>
    <mat-action-list>
      <div mat-subheader>Menu</div>
      
      <button mat-list-item routerLink="/adminDash/profile">
        <mat-icon mat-list-icon>account_circle</mat-icon> Dashboard
      </button>
      <button mat-list-item routerLink="/adminDash/viewhotel">
        <mat-icon mat-list-icon>hotel</mat-icon> Hotels
      </button>
      <button routerLink="/adminDash/viewbooking" mat-list-item>
        <mat-icon mat-list-icon>book</mat-icon> Bookings
      </button>
      <button mat-list-item routerLink="/adminDash/viewpayment">
        <mat-icon mat-list-icon>currency_rupee</mat-icon> Payments
      </button>
      <button mat-list-item routerLink="/adminDash/hotelAdd">
        <mat-icon mat-list-icon>add_circle</mat-icon>Add Hotel
      </button>
      <button mat-list-item routerLink="/adminDash/roomAdd">
        <mat-icon mat-list-icon>add_box</mat-icon> Add Room
      </button>
      <button mat-list-item routerLink="/adminDash/viewAdmins">
        <mat-icon mat-list-icon>admin_panel_settings</mat-icon> View Admins
      </button>
      <button mat-list-item routerLink="/adminDash/addAdmin">
        <mat-icon mat-list-icon>add_circle_outline</mat-icon> Add Admin
      </button>

    </mat-action-list>
  </mat-card>
