<div class="text-center">
    <h3 >Reset Admin Password</h3>
</div>
<table style="margin-left: 500px;">
    
    <tr>
        <td>Username</td>
        <td><input class="text-center" type="text" placeholder="Username"> </td>
    </tr>
    <tr>
        <td>Admin Id</td>
        <td><input class="text-center"  type="text" placeholder="Admin Id"></td>
    </tr>
</table>
<div class="text-center mt-4">
    <button type="submit" class="btn btn-primary" style="margin-right: 20px;">Submit</button>
    <button type="submit" class="btn btn-primary" routerLink="/admin">Back to Login</button>
</div>