<div class="container" >
    <div class="row" >
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Update Details</h1>

            <form #userForm="ngForm" (ngSubmit)="editUser()">

                <div class="form-group">
                    <label for="">User Id</label>
                    <input type="text"  required #userId="ngModel" disabled=""
                    [class.is-invalid]="userId.invalid && userId.touched" class="form-control" name="userId" [(ngModel)]="userModel.userId">
                     <small class="text-danger" [class.d-none]="userId.valid || userId.untouched" >User Id is required</small>   
                   </div> 

                <div class="form-group">
                  <label for="">Username</label>
                  <input type="text"  required #userName="ngModel" disabled=""
                  [class.is-invalid]="userName.invalid && userName.touched" class="form-control" name="userName" [(ngModel)]="userModel.userName">
                   <small class="text-danger" [class.d-none]="userName.valid || userName.untouched" >Username is required</small>   
                 </div> 
                 
                 <div class="form-group">
                    <label for="">Email</label>
                    <input type="email"  required #email="ngModel" 
                    [class.is-invalid]="email.invalid && email.touched" class="form-control" name="email" [(ngModel)]="userModel.email">
                     <small class="text-danger" [class.d-none]="email.valid || email.untouched" >Email is required</small>   
                </div> 

                 <div class="form-group">
                    <label for="">Password</label>
                    <input type="password"  required #password="ngModel" 
                    [class.is-invalid]="password.invalid && password.touched" class="form-control" name="password" [(ngModel)]="userModel.password">
                     <small class="text-danger" [class.d-none]="password.valid || password.untouched" >Password is required</small><br>
                     <!-- <small>Hint: Password must contain a lowercase character,a uppercase character and a digit, minimum length must be 6 characters</small>   -->
                 </div> 

                 <div class="form-group">
                    <label for="">Phone</label>
                    <input type="tel" #mobile="ngModel" pattern="^\d{10}$" required 
                        [class.is-invalid]="mobile.invalid && mobile.touched" 
                        class="form-control" name="mobile" [(ngModel)]="userModel.mobile">
                       <small class="text-danger" [class.d-none]="mobile.valid || mobile.untouched">Phone number is required and must be 10 digits</small>
                      </div>

                      <div class="form-group mb-2">
                        <label for="">Address</label>
                        <input type="text"  required #address="ngModel" 
                        [class.is-invalid]="address.invalid && address.touched" class="form-control" name="address" [(ngModel)]="userModel.address">
                         <small class="text-danger" [class.d-none]="address.valid || address.untouched" >Address is required</small>   
                       </div> 
                 <div class="text-center mt-3">
                    <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit">Update Details</button>
                 </div>
            </form>
        </div>
    </div>
</div>