<mat-card>
    <mat-action-list>
      <div mat-subheader>Menu</div>
      
      <button mat-list-item routerLink="/welcome/profile">
        <mat-icon mat-list-icon>account_circle</mat-icon> Profile
      </button>
      <button mat-list-item routerLink="/hotels">
        <mat-icon mat-list-icon>hotel</mat-icon> Hotels
      </button>
      <button mat-list-item routerLink="/welcome/bookings" >
        <mat-icon mat-list-icon>book</mat-icon> My Bookings
      </button>
      <button mat-list-item routerLink="/welcome/payments" >
        <mat-icon mat-list-icon>currency_rupee</mat-icon> My Payments
      </button>
    </mat-action-list>
  </mat-card>