
    

         
  
          <div class="row">
            <div class="col-md-10 offset-md-1 ">

              <mat-card *ngIf="user" class="mt">
                <div class="text-center">
                <h1>Your Profile Details</h1>
              </div>
                <div class="row mt-5">
                  <div class="col-md-4 offset-md-2">
                
                   <p>User Id:</p>
                   <p>Username:</p>
                   <p>Address:</p>
                   <p>Mobile:</p>
                   <p>Email:</p>
      
                  </div>
                
                  <div class="col-md-4 offset-md-2">
                    <p>{{ user.userId }}</p>
                    <p>{{ user.userName}}</p>
                    <p>{{ user.address}}</p>
                    <p>{{ user.mobile}}</p>
                    <p>{{ user.email}}</p>
                    
                  </div>
                </div>
            
                <mat-card-actions class="text-center mt-2 mb-3">
                  <button mat-raised-button color="primary" (click)="editUser(this.user)">UPDATE</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
 