<div class="container" >
    <div class="row" >
        <div class="col-md-6 offset-md-3">
            
            <h1 class="text-center">Update Hotel</h1>

            <form #userForm="ngForm" (ngSubmit)="hotel()">

                <div class="form-group">
                  <label for="">Hotel Id</label>
                  <input type="text"  required #hotelId="ngModel" disabled=""
                  [class.is-invalid]="hotelId.invalid && hotelId.touched" class="form-control" name="hotelId" [(ngModel)]="hotelModel.hotelId">
                   <small class="text-danger" [class.d-none]="hotelId.valid || hotelId.untouched" >Hotel is required</small>   
                 </div> 
                 
                 <div class="form-group">
                    <label for="">Hotel Name</label>
                    <input type="text"  required #hotelName="ngModel" 
                    [class.is-invalid]="hotelName.invalid && hotelName.touched" class="form-control" name="hotelName" [(ngModel)]="hotelModel.hotelName">
                     <small class="text-danger" [class.d-none]="hotelName.valid || hotelName.untouched" >Hotel Name is required</small>   
                </div> 

                <div class="form-group mb-3">
                    <label for="">Address</label>
                    <input type="text"  required #address="ngModel" 
                    [class.is-invalid]="address.invalid && address.touched" class="form-control" name="address" [(ngModel)]="hotelModel.address">
                     <small class="text-danger" [class.d-none]="address.valid || address.untouched" >Address is required</small>   
                </div>
                        
                   <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Select City</mat-label>
                        <mat-select (blur)="validateCity(city.value)" (change)="validateCity(city.value)" #city="ngModel"
                        [class.is-invalid]="cityHasError && city.touched" name="" class="custom-select" name="topic" [(ngModel)]="hotelModel.city">
                        <mat-option value="Bengaluru">Bengaluru</mat-option>
                        <mat-option value="Chennai">Chennai</mat-option>
                        <mat-option value="Hyderabad">Hyderabad</mat-option>
                        <mat-option value="Mumbai">Mumbai</mat-option>
                        <mat-option value="Pune">Pune</mat-option>
                        </mat-select>
                        <small class="text-danger" [class.d-none]="!cityHasError || city.untouched">Please choose a City</small>
                      </mat-form-field>
                      
                      <p>You selected: {{hotelModel.city}}</p>
                   </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <input type="text"  required #description="ngModel" 
                    [class.is-invalid]="description.invalid && description.touched" class="form-control" name="description" [(ngModel)]="hotelModel.description">
                     <small class="text-danger" [class.d-none]="description.valid || description.untouched" >Description is required</small>   
                </div>

                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email"  required #email="ngModel" 
                    [class.is-invalid]="email.invalid && email.touched" class="form-control" name="email" [(ngModel)]="hotelModel.email">
                     <small class="text-danger" [class.d-none]="email.valid || email.untouched" >Email is required</small>   
                </div> 


                 <div class="form-group">
                    <label for="">Phone 1</label>
                    <input type="tel" #phone1="ngModel" pattern="^\d{10}$" required 
                        [class.is-invalid]="phone1.invalid && phone1.touched" 
                        class="form-control" name="phone1" [(ngModel)]="hotelModel.phone1">
                       <small class="text-danger" [class.d-none]="phone1.valid || phone1.untouched">Phone number is required and must be 10 digits</small>
                 </div>

                 <div class="form-group">
                    <label for="">Phone 2</label>
                    <input type="tel" #phone2="ngModel" pattern="^\d{10}$" required 
                        [class.is-invalid]="phone2.invalid && phone2.touched" 
                        class="form-control" name="phone2" [(ngModel)]="hotelModel.phone2">
                       <small class="text-danger" [class.d-none]="phone2.valid || phone2.untouched">Phone number is required and must be 10 digits</small>
                 </div>

                      <div class="form-group mb-2">
                        <label for="">Website</label>
                        <input type="text"  required #website="ngModel" 
                        [class.is-invalid]="website.invalid && website.touched" class="form-control" name="website" [(ngModel)]="hotelModel.website">
                         <small class="text-danger" [class.d-none]="website.valid || website.untouched" >Website is required</small>   
                       </div> 

                       <div class="form-group">
                        <label for="">Average Rate</label>
                        <input type="tel" #avgRatePerDay="ngModel"  required 
                            [class.is-invalid]="avgRatePerDay.invalid && avgRatePerDay.touched" 
                            class="form-control" name="avgRatePerDay" [(ngModel)]="hotelModel.avgRatePerDay">
                           <small class="text-danger" [class.d-none]="avgRatePerDay.valid || avgRatePerDay.untouched">Average Rate Per Day is required</small>
                     </div>

                 <div class="text-center mt-3 mb-3">
                 <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit">Update Hotel</button>
                </div>
                
            </form>
        </div>
    </div>
</div>