
<div class="text-center">
    <h3 >Reset User Password</h3>
</div>

<table style="margin-left: 40%" >
    <tr>
        <td>Username</td>
        <td><input  type="text" placeholder="Username" > </td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="text" placeholder="Email"></td>
    </tr>

</table>
<div class="text-center mt-4">
    <button type="submit" class="btn btn-primary" style="margin-right: 20px;">Submit</button>
    <button type="submit" class="btn btn-primary" routerLink="/login">Back to Login</button>
</div>
