<div class="row" style="margin-top: 20px;">
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Add Admin</h1>

        <form #userForm="ngForm" (ngSubmit)="updateAdmin()">
            
            <div class="form-group">
                <label for="">Admin Id</label>
                <input type="text"  required #adminId="ngModel" disabled=""
                [class.is-invalid]="adminId.invalid && adminId.touched" class="form-control" name="adminId" [(ngModel)]="admin.adminId">
                 <small class="text-danger" [class.d-none]="adminId.valid || adminId.untouched" >Admin Id is required</small>   
            </div> 

            <div class="form-group">
              <label for="">Username</label>
              <input type="text"  required #adminUsername="ngModel" 
              [class.is-invalid]="adminUsername.invalid && adminUsername.touched" class="form-control" name="adminUsername" [(ngModel)]="admin.adminUsername">
               <small class="text-danger" [class.d-none]="adminUsername.valid || adminUsername.untouched" >Username is required</small>   
             </div> 

             <div class="form-group">
                <label for="">Password</label>
                <input type="password"  required #adminpassword="ngModel" 
                [class.is-invalid]="adminpassword.invalid && adminpassword.touched" class="form-control" name="adminpassword" [(ngModel)]="admin.adminpassword">
                 <small class="text-danger" [class.d-none]="adminpassword.valid || adminpassword.untouched" >Password is required</small>   
             </div> 

             <div class="text-center mt-3 mb-3">
             <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit">Update Admin</button>

            </div>
        </form>
    </div>